$main-color-1: #ffffff;
$main-color-2: #000000;
$main-color-3: #ee3d1b;
$main-color-4: #d52047;

$button-text-color: #ed4c5c;

$bg-color-light: #fafafa;
$bg-color-dark: #ed4c5c;

$border-input-color: #333333;

$shadow-color: rgba(0, 0, 0, 0.1);
